<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mergenc.appcentmentorbudy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appcent_mentorbuddy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appcent_mentorbuddy"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppcentMentorBudy">
        <activity android:name=".activity.UploadActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>